header
{
	display: flex;
}	
.header
{

	height: 150px;
}
#divTitle
{
	width: 90%;
	text-align: center;
}
#user form
{
	display: flex;
	flex-direction: column;
	margin: 50px;
	justify-content: center;
	align-items: center;
}
input
{
	margin-bottom: 5px;
}
#lienPassOubli
{
	font-size: 0.7em;
}
#modifUser
{	
	font-size: 0.7em;
}

